{% extends "main.html" %}
{% load static %}

{% block scripts %}
<link rel="stylesheet" href="{% static 'monopoly/css/join.css' %}">
<script src="{% static 'monopoly/js/views/join.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div id="join-card-container" class="card">
    <input id="user-name" value="{{ user }}" hidden>
    <input id="host-name" value="{{ host_name }}" hidden>
    <div class="card-blur-container">
        <div class="card-blur"></div>
    </div>
    <div class="card-content-container">
        <a href="/monopoly/profile/{{ user }}" target="_blank">
            <img id="user-avatar" src="{{profile_pic }}">
        </a>
        <span id="new-game-notice">Новая игра</span>
        <div id="joined-users-container">
            <a href="/monopoly/profile/{{ user }}" target="_blank">
                <img class="joined-user-avatar" src="{{ profile_pic }}" title="{{ user }}">
            </a>
        </div>
        <button id="start-game" class="large-button" disabled>
            Ожидание других игроков...
        </button>
        <!--
        <a href="/monopoly/profile/{{ user }}" target="_blank">
            <button id="init-profile" class="large-button hidden">
                Let your friends recognize you with a profile photo!
            </button>
        </a>
        -->
        {% if host_name == user %}
        <hr>
        <span id="invitation-note">Пригласите друзей, отправив им ссылку на игру!</span>
        <div id="invitation-container">
            <input id="invitation-url" readonly value="" placeholder="Generating shared link...">
            <div class="tooltip">
                <button id="share-invitation" class="large-button">
                    <span id="copied-tooltip" class="tooltiptext" >Скопировано! &#x1F44C;</span>
                    Скопировать
                </button>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}